<div class="main">
  <h1>Главная страница</h1>
  <br/>
  <h4>Чтобы посмотреть <%= link_to 'Таблица пользователей', allusers_path %> вам нужно
  <%= link_to 'Зарегистрироваться', signup_path %>
  </h4>

</div>
